In [21]:
from energizer.io import read_all_files
import numpy as np

In [14]:
df = read_all_files(sample=True, weather=False)

In [15]:
df = df.sample(100000)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 26064674 to 6198462
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     100000 non-null  object
 1   taxi_id                     100000 non-null  object
 2   trip_start_timestamp        100000 non-null  datetime64[ns]
 3   trip_end_timestamp          100000 non-null  datetime64[ns]
 4   trip_seconds                100000 non-null  float64
 5   trip_miles                  100000 non-null  float64
 6   fare                        100000 non-null  float64
 7   tips                        100000 non-null  float64
 8   tolls                       97881 non-null   float64
 9   extras                      100000 non-null  float64
 10  trip_total                  100000 non-null  float64
 11  payment_type                100000 non-null  object
 12  pickup_census_tract         62293 non-null   float64
 13  pickup_community_area       86333 non-null   float64
 14  pickup_centroid_latitude    86333 non-null   float64
 15  pickup_centroid_longitude   86333 non-null   float64
 16  pickup_centroid_location    86333 non-null   object
 17  dropoff_community_area      82739 non-null   float64
 18  dropoff_centroid_latitude   82894 non-null   float64
 19  dropoff_centroid_longitude  82894 non-null   float64
 20  dropoff_centroid_location   82894 non-null   object
 21  dropoff_census_tract        60178 non-null   float64
 22  company                     100000 non-null  object
dtypes: datetime64[ns](2), float64(15), object(6)
memory usage: 18.3+ MB

In [16]:
df.reset_index(inplace=True, drop=True)
df.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,...,pickup_community_area,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,dropoff_census_tract,company
0,88b0622c5d58238566669d778f225831bac05256,96fc6132bcd871b10fe587be76a4a4caa31c774642e05d...,2013-12-16 16:00:00,2013-12-16 16:00:00,360.0,1.20,6.05,0.0,0.0,0.0,...,8.0,41.895033,-87.619711,"{'coordinates': [-87.6197106717, 41.8950334495...",8.0,41.907520,-87.626659,"{'coordinates': [-87.6266589003, 41.9075200747...",1.703108e+10,Choice Taxi Association
1,138c89f7e9ffdf6c07728c2c72495a21573912ce,6387cede3d04d6fc99bcb37707880b3c8043f9e7284bfc...,2013-08-01 07:45:00,2013-08-01 08:30:00,2220.0,1.32,29.45,0.0,0.0,2.0,...,5.0,41.947792,-87.683835,"{'coordinates': [-87.6838349425, 41.9477915865...",76.0,41.980264,-87.913625,"{'coordinates': [-87.913624596, 41.9802643146]...",NaN,None
2,1d4496b86094d3dade4eb0d4438ac444dd4bfd16,1aa7696cf1ac4c5d9e302177fdb918829d2ddcd9d420a3...,2013-11-13 15:15:00,2013-11-13 15:15:00,587.0,2.00,8.45,0.0,NaN,0.0,...,28.0,41.870415,-87.675086,"{'coordinates': [-87.6750856208, 41.8704150003...",28.0,41.879255,-87.642649,"{'coordinates': [-87.642648998, 41.8792550844]...",1.703128e+10,Flash Cab
3,9fadc7cdb5d4a39134d57ee483876ff16c53bb63,e54b5e0b458fbbfdbd31472d001c5a9fe79aec496e24b4...,2013-09-08 19:30:00,2013-09-08 19:45:00,420.0,2.10,7.65,0.0,0.0,1.0,...,22.0,41.922761,-87.699155,"{'coordinates': [-87.69915534320002, 41.922760...",7.0,41.922686,-87.649489,"{'coordinates': [-87.6494887289, 41.9226862843...",NaN,None
4,3b410015b5ab0139ba31d2bafd993ddc051c3530,77a35416c518c6ce325ccecaded115da1fe0b63881fab8...,2013-01-02 18:30:00,2013-01-02 18:45:00,1500.0,0.20,14.85,0.0,0.0,0.0,...,8.0,41.899602,-87.633308,"{'coordinates': [-87.6333080367, 41.899602111]...",6.0,41.944227,-87.655998,"{'coordinates': [-87.6559981815, 41.9442266014...",NaN,Blue Ribbon Taxi Association Inc.

# Replace trip id

In [ ]:
df.trip_id = df.index
df.info()

# Replace taxi_id

In [ ]:
taxi_id = df.taxi_id.unique()
df.taxi_id = df.taxi_id.apply(lambda x: np.where(taxi_id == x)[0][0])
df.head()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     100000 non-null  int64
 1   taxi_id                     100000 non-null  int64
 2   trip_start_timestamp        100000 non-null  datetime64[ns]
 3   trip_end_timestamp          100000 non-null  datetime64[ns]
 4   trip_seconds                100000 non-null  float64
 5   trip_miles                  100000 non-null  float64
 6   fare                        100000 non-null  float64
 7   tips                        100000 non-null  float64
 8   tolls                       97881 non-null   float64
 9   extras                      100000 non-null  float64
 10  trip_total                  100000 non-null  float64
 11  payment_type                100000 non-null  object
 12  pickup_census_tract         62293 non-null   float64
 13  pickup_community_area       86333 non-null   float64
 14  pickup_centroid_latitude    86333 non-null   float64
 15  pickup_centroid_longitude   86333 non-null   float64
 16  pickup_centroid_location    86333 non-null   object
 17  dropoff_community_area      82739 non-null   float64
 18  dropoff_centroid_latitude   82894 non-null   float64
 19  dropoff_centroid_longitude  82894 non-null   float64
 20  dropoff_centroid_location   82894 non-null   object
 21  dropoff_census_tract        60178 non-null   float64
 22  company                     100000 non-null  object
dtypes: datetime64[ns](2), float64(15), int64(2), object(4)
memory usage: 17.5+ MB